aiofiles==0.7.0
aiohttp==3.7.4.post0
aiosqlite==0.17.0
Async-OAuthlib==0.0.9
async-timeout==3.0.1
attrs==21.2.0
backports.entry-points-selectable==1.1.1
blinker==1.4
CacheControl==0.12.10
cachetools==4.2.4
cachy==0.3.0
certifi==2020.12.5
chardet==4.0.0
charset-normalizer==2.0.7
cleo==0.8.1
click==7.1.2
clikit==0.6.2
colorama==0.4.4
crashtest==0.3.1
discord-ext-ipc==2.1.1
discord.py==1.7.3
distlib==0.3.3
filelock==3.4.0
Flask==1.1.2
h11==0.12.0
h2==4.1.0
hpack==4.0.0
html5lib==1.1
Hypercorn==0.11.2
hyperframe==6.0.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==21.8.0
lockfile==0.12.2
MarkupSafe==1.1.1
msgpack==1.0.3
multidict==5.2.0
oauthlib==3.1.1
packaging==20.9
pastel==0.2.1
pexpect==4.8.0
pipenv==2021.11.23
pkginfo==1.8.1
platformdirs==2.4.0
poetry==1.1.12
poetry-core==1.0.7
priority==2.0.0
ptyprocess==0.7.0
PyJWT==2.3.0
pylev==1.4.0
pyparsing==3.0.6
python-dotenv==0.15.0
pywin32-ctypes==0.2.0
Quart==0.15.1
Quart-Discord==2.1.4
requests==2.25.1
requests-toolbelt==0.9.1
shellingham==1.4.0
six==1.16.0
toml==0.10.2
tomlkit==0.7.2
typing-extensions==3.10.0.2
urllib3==1.26.2
virtualenv==20.10.0
virtualenv-clone==0.5.7
webencodings==0.5.1
Werkzeug==1.0.1
wsproto==1.0.0
yarl==1.7.0
